@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-pattern {
  @apply grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4
}

.card {
  @apply flex flex-col rounded shadow
}

.primary-button {
  @apply rounded p-2 px-3 bg-amber-400 text-white m-2 mt-3 hover:bg-amber-500 font-semibold
}